.rodape {
    background-color: #000000d9;
    text-align: center;
}

.rodape p {
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 20px 0 20px 0;
}

.rodape a {
    color: inherit;
}

a:hover {
    color: #D86EBF;
}